code[class*="language-"],
pre[class*="language-"] {
    color: #1C1C04;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background: #f56d111f;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

/* Style definitions */
.token.comment { color: #5c98cd; }
.token.punctuation { color: #86ff01; }
.token.property { color: #202df4; }
.token.tag { color: #f0092f; }
.token.constant { color: #F0A500; }
.token.number { color: #BC94F9; }
.token.selector { color: #d80cf8; }
.token.attr-name { color: #202df4; }
.token.string { color: #6EB26E; }
.token.builtin { color: #D3C7A6; }
.token.operator { color: #FFCC00; }
.token.keyword { color: #6EB26E; }
.token.function { color: #66D8EF; }
.token.class-name { color: #FF6F61; }
.token.regex { color: #D3C7A6; }
.token.important { color: #F05E5D; }
.token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.attr-value { color: #d80cdb; }

.code-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: #f4f4f4;
}

.button-group {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 5px;
}

/* Additional styles ... */

